# Node dependencies
node_modules

# Quasar build output
.quasar
dist/
dist-ssr/
dist-spa/
dist-pwa/
dist-bex/
dist-cordova/
dist-capacitor/

# Capacitor native platforms
src-capacitor/android/
src-capacitor/ios/
src-capacitor/www/

# Environment files
.env
.env.*    # if you use multiple env files

# System files
.DS_Store
Thumbs.db

# IDE/editor configs (optional)
.vscode/
.idea/

android/

package-lock.json